.footer {
    color: #00d1b2;
    background-color: #363636;
}

.user-columns{
    padding: 17em;
    margin-top: -16em;
    background-color: #363636

}

.user-column{
    background-color: #ffffff
}

